In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dt_train = pd.read_csv('/content/drive/MyDrive/Google Brain - Ventilator Pressure Prediction/train.csv')
dt_test = pd.read_csv('/content/drive/MyDrive/Google Brain - Ventilator Pressure Prediction/test.csv')

In [ ]:
dt_train.head()

   id  breath_id   R   C  time_step       u_in  u_out   pressure
0   1          1  20  50   0.000000   0.083334      0   5.837492
1   2          1  20  50   0.033652  18.383041      0   5.907794
2   3          1  20  50   0.067514  22.509278      0   7.876254
3   4          1  20  50   0.101542  22.808822      0  11.742872
4   5          1  20  50   0.135756  25.355850      0  12.234987

In [ ]:
dt_test.head()

   id  breath_id  R   C  time_step       u_in  u_out
0   1          0  5  20   0.000000   0.000000      0
1   2          0  5  20   0.031904   7.515046      0
2   3          0  5  20   0.063827  14.651675      0
3   4          0  5  20   0.095751  21.230610      0
4   5          0  5  20   0.127644  26.320956      0

In [ ]:
dt_train.shape

(6036000, 8)

In [ ]:
dt_test.shape

(4024000, 7)

In [ ]:
x_train = dt_train.iloc[:, 1:7]
y_train = dt_train.iloc[:,7]

x_test = dt_test.iloc[:, 1:7]

In [ ]:
x_train.shape

(6036000, 6)

In [ ]:
x_test.shape

(4024000, 6)

In [ ]:
from sklearn.preprocessing import  StandardScaler
sc=StandardScaler()

x_train= sc.fit_transform(x_train)
x_test= sc.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lin=LinearRegression()
lin.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=lin.predict(x_test)
y_pred

array([17.08134244, 17.40532487, 17.71250414, ...,  7.42753268,
        7.41754877,  7.40739167])

In [ ]:
y_pred.shape

(4024000,)

In [ ]:
df = pd.DataFrame(y_pred, columns = ['pressure'])

In [ ]:
df

          pressure
0        17.081342
1        17.405325
2        17.712504
3        17.994928
4        18.211286
...            ...
4023995   7.447430
4023996   7.437480
4023997   7.427533
4023998   7.417549
4023999   7.407392

[4024000 rows x 1 columns]

In [ ]:
combined = pd.concat([dt_test, df],axis=1)

In [ ]:
combined

              id  breath_id   R   C  time_step       u_in  u_out   pressure
0              1          0   5  20   0.000000   0.000000      0  17.081342
1              2          0   5  20   0.031904   7.515046      0  17.405325
2              3          0   5  20   0.063827  14.651675      0  17.712504
3              4          0   5  20   0.095751  21.230610      0  17.994928
4              5          0   5  20   0.127644  26.320956      0  18.211286
...          ...        ...  ..  ..        ...        ...    ...        ...
4023995  4023996     125748  20  10   2.530117   4.971245      1   7.447430
4023996  4023997     125748  20  10   2.563853   4.975709      1   7.437480
4023997  4023998     125748  20  10   2.597475   4.979468      1   7.427533
4023998  4023999     125748  20  10   2.631134   4.982648      1   7.417549
4023999  4024000     125748  20  10   2.665301   4.985373      1   7.407392

[4024000 rows x 8 columns]

In [ ]:
x=combined.drop(['breath_id',	'R',	'C',	'time_step',	'u_in',	'u_out'], axis=1)

In [ ]:
x

              id   pressure
0              1  17.081342
1              2  17.405325
2              3  17.712504
3              4  17.994928
4              5  18.211286
...          ...        ...
4023995  4023996   7.447430
4023996  4023997   7.437480
4023997  4023998   7.427533
4023998  4023999   7.417549
4023999  4024000   7.407392

[4024000 rows x 2 columns]

In [ ]:
x.shape

(4024000, 2)

In [ ]:
x.to_csv('/content/drive/MyDrive/Google Brain - Ventilator Pressure Prediction/VPP_lin.csv', index=False)

In [ ]:
#Configuration environment
import os

# username from the json file
os.environ['KAGGLE_USERNAME'] = '%%%%%%%%%%%%%'

# key from the json file
os.environ['KAGGLE_KEY'] = '**************************************************'

In [ ]:
os.chdir('/content/drive/MyDrive/Google Brain - Ventilator Pressure Prediction')

In [ ]:
!kaggle competitions submit -c ventilator-pressure-prediction -f VPP_lin.csv -m "Message"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 99.6M/99.6M [00:02<00:00, 35.7MB/s]
Successfully submitted to Google Brain - Ventilator Pressure Prediction